h1{
    color: #5c4033;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 1px;

}
.hr--small{
    width: 100px;
    height: 2px;
    border: none;
    background-color: #5c4033;
    }

.inputs{
    justify-content: center;
    /* display: flex; */
    align-items: center;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    border: 20px;
}
.name{
    width: 500px;
    height: 50px;
}
.number{
    width: 500px;
    height: 50px;
}
.email{
    width: 1000px;
    height: 50px;
}
.message{
    width: 1000px;
    height: 1000px;
}
