body{
    height: 100vh;
}
.home-container{
    height: 50vh;
}

.creation{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 1%;
}
.candle-div{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: brown;
    border-radius: 40px;
    margin: 1%;
}
.candle-preview{
    width: 50%; 
    
}

.choices{
    width: 50%;
    display: grid;
    height: 100%;
}

.selections{

display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center;    /* Centers items horizontally */
  gap: 15px;              /* Adds spacing between the elements */
  padding: 20px;
}
select{
    width: 85%;
    height: 85%;
    border-radius: 20px;
    text-align-last: center;
    font-size: 18px;
}
.confirm{
    background-color: #5c4033;
    color: #f5efe1;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    width: 80%;
    height: 50%;
    border-radius:40px;
    border: none;
    
}
.confirm:hover {
  background-color: #4a332a;
  color: #f5efe1;
}
.hr--create {
  width: 15%;
  height: 3px;
  border: none;
  background-color: #5c4033;
  margin-bottom: 40px;
  border-radius: 5px;
}