.create{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;

    background: #5C4033;
    border-radius: 40px;
    font-size: 100px;

}