.bg-body-tertiary{
    display: flex;
    background-color: #D2C9B8;
    align-items: center;
    
    border: 20px;
    width: 100%;
}

.contact{
margin-left: 30px;
margin-right: 30px;
}

.profile{
margin-left: 30px;
margin-right: 30px;
}
.logo{
background: url(../assets/logo.png);
    
}
